<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

  </head>
  <body>
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

        </div><!-- slim-header-left -->
        <div class="slim-header-right">
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Nombre Usuario</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                <a href="login.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
      <div class="container">
        <ul class="nav">
          <!--Admin-->
          <li class="nav-item">
            <a class="nav-link" href="timeline.html">
              <i class="icon ion-ios-home-outline"></i>
              <span>Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users.html">
              <i class="icon ion-person-stalker"></i>
              <span>Usuarios</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="activities.html">
              <i class="icon ion-ios-book-outline"></i>
              <span>Actividades</span>
            </a>
          </li>
          <!--Usuarios-->
          <li class="nav-item">
            <a class="nav-link" href="profile.html">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Mi perfil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="newActivity.html">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Nueva actividad</span>
            </a>
          </li>
          
          
          
          
        </ul>
      </div><!-- container -->
    </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Actividades</a></li>
            <li class="breadcrumb-item active" aria-current="page">Todas</li>
          </ol>
          <h6 class="slim-pagetitle">Administración de actividades</h6>
        </div><!-- slim-pageheader -->

        <div class="section-wrapper">
          <div style="display:flex; justify-content:space-between;">
              <div>
                  <label class="section-title">Lista de actividades</label>
                  <p class="mg-b-20 mg-sm-b-40">Edita y actualiza cualquier actividad.</p>
              </div>
          </div>
          

          <div class="table-responsive">
            <table class="table mg-b-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Actividad</th>
                  <th>Usuario</th>
                  <th>Preguntas</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Tiger Nixon</td>
                  <td>Alejandro Hernandez</td>
                  <td>18</td>
                  <td>
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <a href="#"><i class="fa fa-pencil"></i></a> 
                    <a href="#"><i class="icon ion-trash-a"></i></a>   
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- table-responsive -->
        </div><!-- section-wrapper -->

      </div><!-- container -->
    </div><!-- slim-mainpanel -->


    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>

    <script src="../js/slim.js"></script>
  </body>
</html>
