<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

  </head>
  <body>
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

        </div><!-- slim-header-left -->
        <div class="slim-header-right">
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Nombre Usuario</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
        <div class="container">
          <ul class="nav">
            <!--Admin-->
            <li class="nav-item">
              <a class="nav-link" href="timeline.html">
                <i class="icon ion-ios-home-outline"></i>
                <span>Inicio</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="users.html">
                <i class="icon ion-person-stalker"></i>
                <span>Usuarios</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="activities.html">
                <i class="icon ion-ios-book-outline"></i>
                <span>Actividades</span>
              </a>
            </li>
            <!--Usuarios-->
            <li class="nav-item">
              <a class="nav-link" href="profile.html">
                <i class="icon ion-ios-analytics-outline"></i>
                <span>Mi perfil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newActivity.html">
                <i class="icon ion-ios-analytics-outline"></i>
                <span>Nueva actividad</span>
              </a>
            </li>
            
            
            
            
          </ul>
        </div><!-- container -->
      </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Usuario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Actividad</li>
          </ol>
          <h6 class="slim-pagetitle">Actividad</h6>
        </div><!-- slim-pageheader -->

        <div class="row row-sm">
          <div class="col-lg-12">
            <div class="card card-profile">
              <div class="card-body">
                <div class="media">
                  
                  <div class="media-body">
                    <h3 class="card-profile-name">Nombre actividad</h3>
                    <p class="card-profile-position">Nombre del autor</p>

                    <p class="mg-b-0">Descripcion de actividad</p>
                    <style>
                      .mediaa{
                        text-align:center;
                        display:flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        align-items: flex-end;
                        padding-top:2rem;
                      }
                      .media-cont{
                        margin: 1rem;
                      }
                      .mediaa video, .mediaa img, .mediaa audio, .media-cont{
                        display:inline-block;
                        width: 250px;
                        border-radius:0;
                        margin-bottom:1rem;
                      }
                    </style>
                    <div class="mediaa">  
                      <div class="media-cont">
                          <video controls>
                            <source src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4" type="video/mp4" poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                            <source src="movie.ogg" type="video/ogg">
                          Your browser does not support the video tag.
                          </video>
                          <p>titulo video</p>
                      </div>
                      
                      <div class="media-cont">
                          <audio controls>
                              <source src="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" type="audio/mpeg">
                              <source src="horse.ogg" type="audio/ogg">
                              
                          Your browser does not support the audio element.
                          </audio>
                          <p>titulo audio</p>
                      </div>

                      <div class="media-cont">
                          <img src="https://t2.ev.ltmcdn.com/es/posts/5/7/3/los_animales_en_mayor_peligro_de_extincion_375_600.jpg" alt="Smiley face" >
                          <p>titulo imagen</p>
                        </div>
                      
                      
                        
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- card-body -->
              <div class="card-footer">
                <a href="" class="card-profile-direct">http://thmpxls.me/profile?id=katherine</a>
                <div>
                  <a href="">Editar actividad</a>
                  <a href="" style="color:red;">Eliminar actividad</a>
                </div>
              </div><!-- card-footer -->
            </div><!-- card -->

            <!--<ul class="nav nav-activity-profile mg-t-20">
              <li class="nav-item"><a href="" class="nav-link"><i class="icon ion-ios-redo tx-purple"></i> Share an update</a></li>
              <li class="nav-item"><a href="" class="nav-link"><i class="icon ion-image tx-primary"></i> Publish photo</a></li>
              <li class="nav-item"><a href="" class="nav-link"><i class="icon ion-document-text tx-success"></i> Add an article</a></li>
            </ul><!-- nav -->

            <div class="card card-experience mg-t-20">
              <div class="card-body">
                <div class="slim-card-title">Actividades de usuario</div>
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">Pregunta </h6>
                    <p class="position-company">Más detalles sobre la pregunta</p>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">Pregunta </h6>
                    <p class="position-company">Más detalles sobre la pregunta</p>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">Pregunta </h6>
                    <p class="position-company">Más detalles sobre la pregunta</p>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->

                <br><br>
                <button class="btn btn-primary btn-block mg-b-10" >Terminar actividad</button>
                
              </div><!-- card-body -->
              <div class="card-footer">
                
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col-8 -->

          
        </div><!-- row -->

      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>

    <script src="../js/slim.js"></script>
  </body>
</html>
