<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

  </head>
  <body>
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

        </div><!-- slim-header-left -->
        <div class="slim-header-right">
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Nombre Usuario</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
        <div class="container">
          <ul class="nav">
            <!--Admin-->
            <li class="nav-item">
              <a class="nav-link" href="timeline.html">
                <i class="icon ion-ios-home-outline"></i>
                <span>Inicio</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="users.html">
                <i class="icon ion-person-stalker"></i>
                <span>Usuarios</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="activities.html">
                <i class="icon ion-ios-book-outline"></i>
                <span>Actividades</span>
              </a>
            </li>
            <!--Usuarios-->
            <li class="nav-item">
              <a class="nav-link" href="profile.html">
                <i class="icon ion-ios-analytics-outline"></i>
                <span>Mi perfil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="newActivity.html">
                <i class="icon ion-ios-analytics-outline"></i>
                <span>Nueva actividad</span>
              </a>
            </li>
            
            
            
            
          </ul>
        </div><!-- container -->
      </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Usuario</a></li>
            <li class="breadcrumb-item active" aria-current="page">Actividad</li>
          </ol>
          <h6 class="slim-pagetitle">Actividad</h6>
        </div><!-- slim-pageheader -->

        <div class="row row-sm">
          <div class="col-lg-12">
            <div class="card card-profile">
              <div class="card-body">
                <div class="media">
                  
                  <div class="media-body">
                    <h3 class="card-profile-name">El cuento…un camino para afrontar la vida</h3>
                    <p class="card-profile-position" style="line-height: 1;">Paz Baeza Bischoffshausen<br><small>Profesora de Didáctica de la Lengua</small></p>
                    <br>
                    <p class="mg-b-0">Los cuentos estimulan la fantasía y la imaginación de los niños de cualquier edad y abren un abanico de posibilidades para desarrollar múltiples actividades en las clases de Lenguaje.
                    </p>
                    <br>
                    <p>Rossana Costantino habla de la importancia que reviste el cuento en la vida de un niño: “…cualquier cuento que sea, transmite mensajes siempre actuales y conserva un significado profundo que pasa a través del corazón y de la mente de los niños... y de los adultos. Cada historia, por irreal y absurda que sea, trata sobre problemas humanos universales, ofreciendo ejemplos de solución ante las dificultades. El cuento es un sistema de mensajes que los niños captan más allá de todo razonamiento lógico. Los cuentos, respetando la visión mágica de las cosas, alejan las pesadillas inconscientes, aplacan las inquietudes, ayudan a superar las inseguridades y las crisis existenciales, enseñan a aceptar la responsabilidad y a afrontar la vida”.
                      El cuento acercará al niño a la lectura. Un niño que se haya aficionado desde pequeño a los cuentos tendrá un mayor interés por descifrar lo que dicen los libros. Del entusiasmo que coloquen los educadores por introducir a sus estudiantes en el mundo de los cuentos, nacerá su amor por la literatura.
                    </p>
                    <style>
                      .mediaa{
                        text-align:center;
                        display:flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        align-items: flex-end;
                        padding-top:2rem;
                      }
                      .media-cont{
                        margin: 1rem;
                      }
                      .mediaa video, .mediaa img, .mediaa audio, .media-cont{
                        display:inline-block;
                        width: 250px;
                        border-radius:0;
                        margin-bottom:1rem;
                      }
                    </style>
                    <!--<div class="mediaa">  
                      <div class="media-cont">
                          <video controls>
                            <source src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4" type="video/mp4" poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                            <source src="movie.ogg" type="video/ogg">
                          Your browser does not support the video tag.
                          </video>
                          <p>titulo video</p>
                      </div>
                      
                      <div class="media-cont">
                          <audio controls>
                              <source src="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" type="audio/mpeg">
                              <source src="horse.ogg" type="audio/ogg">
                              
                          Your browser does not support the audio element.
                          </audio>
                          <p>titulo audio</p>
                      </div>

                      <div class="media-cont">
                          <img src="https://t2.ev.ltmcdn.com/es/posts/5/7/3/los_animales_en_mayor_peligro_de_extincion_375_600.jpg" alt="Smiley face" >
                          <p>titulo imagen</p>
                        </div>
                      -->
                        <div style="display:flex; justify-content: center;">
                          <video controls>
                            <source src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4" type="video/mp4" poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                            <source src="movie.ogg" type="video/ogg">
                          Your browser does not support the video tag.
                          </video>
                        </div>
                              
                        
                    </div>
                  </div><!-- media-body -->
                </div><!-- media -->
              </div><!-- card-body -->
              <div class="card-footer">
                <a href="" class="card-profile-direct">http://thmpxls.me/profile?id=katherine</a>
                <div>
                  <a href="">Editar actividad</a>
                  <a href="" style="color:red;">Eliminar actividad</a>
                </div>
              </div><!-- card-footer -->
            </div><!-- card -->
            <br>
            <div class="ht-md-60 pd-x-20 bg-dark d-flex align-items-center justify-content-center">
              <ul class="nav nav-underline-dark align-items-center flex-column flex-md-row" role="tablist" id="tabsnav">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#" onclick="getTab(0)" role="tab">Todas</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab" onclick="getTab(1)">1° y 2°</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab" onclick="getTab(2)">3° y 4°</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#" role="tab" onclick="getTab(3)">5° y 6°</a></li>
              </ul>
            </div>
            

            <!--<ul class="nav nav-activity-profile mg-t-20">
              <li class="nav-item"><a href="" class="nav-link"><i class="icon ion-ios-redo tx-purple"></i> Share an update</a></li>
              <li class="nav-item"><a href="" class="nav-link"><i class="icon ion-image tx-primary"></i> Publish photo</a></li>
              <li class="nav-item"><a href="" class="nav-link"><i class="icon ion-document-text tx-success"></i> Add an article</a></li>
            </ul><!-- nav -->
            <div class="card card-experience mg-t-20 info-id" id="info-1">
              <div class="card-body">
                <div class="slim-card-title">1° y 2° básico</div>

                <br>
                <h3 style="color:#2b2b2b">Actividades</h3>
                <p>Los estudiantes de 1º y 2º año básico aún no son lectores expertos, ni tienen la autonomía necesaria para leer de forma independiente cuentos de cierta extensión o que presenten mayor complejidad en sus estructuras lingüísticas.  Sin embargo, sus temáticas y narraciones pueden resultar altamente interesantes y significativas para ellos. Es por esto que resulta fundamental y necesario que los profesores establezcan dentro de sus rutinas diarias espacios para leerles cuentos y disfrutar con el diálogo que surgirá a partir de los mismos.
                </p>
                <ul>
                  <li>Baje e imprima el cuento La serpiente blanca de los Hermanos Grimm del siguiente sitio web:  http://www.profesorenlinea.cl/primysgdo/cuentos/laserpienteblanca.html</li>
                  <li>Recuerde que usted es un modelo lector, por lo tanto, prepare la lectura del cuento con anterioridad para que pueda leer dando los énfasis necesarios, hacer cambio de voces, jugar con las inflexiones de voz, crear suspenso, entre otras.</li>
                  <li>Invite a los estudiantes a sentarse en proximidad para realizar una lectura en voz alta.</li>
                  <li>Coménteles que leerán un cuento escrito por los hermanos Grimm y cuénteles brevemente su biografía.</li>
                  <li>Dígales que el cuento se llama “La serpiente blanca” y que ocurrió en un lugar muy lejano donde vivía un rey muy sabio. Invítelos a predecir de qué podrá tratarse el cuento y por qué creen eso.</li> 
                  <li>Paz Baeza Bischoffshausen Profesora de Didáctica de la Lengua
                      Experiencias de aprendizaje Lenguaje
                      www.recursosdocentes.cl</li>
                  <li>Si es necesario, clarifique los términos “comensales” y “criado”.</li>
                  <li>Comience la lectura del cuento y deténgase en “¿Qué será lo que come el rey?” Pregúnteles qué creen ellos, continúe la lectura hasta la palabra “destapó” Pregúnteles qué creen ellos que contiene la sopera? ¿Por qué piensan eso? ¿Qué pistas nos da el texto para pensar eso?</li>
                  <li>Continúe la lectura y deténgase en “el lenguaje de los pájaros”. Pregunte, ¿cuál era el poder que otorgaba la serpiente? ¿En qué creen ustedes que lo va a ocupar el criado?</li>
                  <li>Continúe leyendo y deténgase en “ventana de la reina” y pregúnteles qué creen que hará el criado con la información que tiene acerca del anillo. ¿Qué hará para salvarse?</li>
                  <li>Continúe leyendo hasta “perezcas bajo las olas”. Clarifique el término perezcas, mencione sinónimos. Pregunte ¿cómo creen ustedes que se salvará?</li>
                  <li>Continúe leyendo hasta “sin que falte ni uno solo”. Verifique las predicciones anteriores y pregunte, ¿cómo solucionará su problema ahora? </li>
                  <li>Continúe la lectura hasta “una manzana del árbol de la vida”. Verifique las predicciones y ahora pregunte, “¿cómo hará el hombre para cumplir este nuevo encargo de la princesa?”¿Creen ustedes que vale la pena hacer tanto esfuerzo para casarse con la princesa? ¿Por qué?</li>
                  <li>Lea hasta el final y verifique las predicciones.</li>
                  <li>Deje unos instantes para reposar y disfrutar el cuento y luego, puede iniciar un debate acerca de lo que más les llamó la atención de este cuento, ¿qué les pareció la actitud del criado? ¿Qué característica poseía el hombre que nosotros pudiéramos imitar? ¿Qué les pareció la actitud de la princesa y por qué? Lo importante es realizar preguntas que susciten el diálogo, intercambio de opiniones y argumentación.</li>
                  <li>Deje las preguntas más directas relacionadas con la comprensión de lectura para un trabajo independiente con las ficha que está al final de este artículo. Para que puedan realizar este trabajo, entrégueles también el cuento fotocopiado.</li>

                </ul>
                <div class="mediaa">
                    <div class="media-cont">
                        <audio controls="">
                            <source src="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" type="audio/mpeg">
                            <source src="horse.ogg" type="audio/ogg">
                            
                        Your browser does not support the audio element.
                        </audio>
                        <p>titulo audio</p>
                    </div>     
                </div>          
                 
              </div><!-- card-body -->

              

              <div class="card-footer">
                
              </div><!-- card-footer -->
            </div><!-- card -->

            <div class="card card-experience mg-t-20 info-id" id="info-2">
                
  
                <div class="card-body">
                    <div class="slim-card-title">3° y 4° básico</div>
    
                    <br>
                    <h3 style="color:#2b2b2b">Actividades</h3>
                    <p>Pese a que la gran mayoría de los alumnos de 3º y 4º básico son lectores independientes y ya pueden leer textos largos con bastante fluidez, la magia de escuchar un cuento leído por un adulto representa un momento muy importante en la vida de un niño que seguramente marcará significativamente su gusto por la lectura y le permitirá aprender de un lector experto.
                    </p>
                    <ul>
                        <li>Baje el cuento Historia del jabotí sabio y del mico entrometido de Ana María Machado e imprímalo, del siguiente sitio web: http://prosoema321.blogspot.cl/2007_03_11_archive.html</li>
                        <li>Invite a los estudiantes a sentarse en proximidad para realizar una lectura en voz alta.</li>
                        <li>Coménteles que leerán la historia de un animal muy sabio y otro muy entrometido. Pregúnteles si saben lo que significa la palabra entrometido y pídales que hagan predicciones tratando de inferir de qué animales se tratará y por qué creen eso.</li>
                        <li>Cuénteles que en esta historia aparecerán muchos animales y que hay algunos que seguramente no conocen. Muéstreles una lámina de un jabotí (especie de tortuga brasileña), de una danta (mamífero terrestre), de una paca (especie de roedor) y de una onza (felino de tamaño pequeño). Comenten acerca de las características de cada uno de ellos. Experiencias de aprendizaje Lenguaje www.recursosdocentes.cl</li>
                        <li>Lea el título del cuento y el nombre del autor, y pregúnteles a qué animal le decimos mico. Realice con ellos algunas predicciones de qué podrá tratarse esta historia.</li>
                        <li>Comience la lectura del cuento y deténgase en “cachorro de hombre”, y pregúnteles por qué creen que los animales eligieron al hombre para hacer el concurso. </li>
                        <li>Continúe leyendo hasta “nadie le pusiera atención”. Pregunte, ¿por qué creen ustedes que el hombre pensó que el jabotí era el más astuto de todos los animales? ¿En qué creen que consistirá el concurso?</li>
                        <li>Continúe la lectura hasta la pregunta “¿Qué será, qué será, lo que está sobre el cielo?” Pídales que intenten resolver este acertijo. Luego de escuchar a los niños, lea hasta “Es el punto de la letra “i”.  Verifique predicciones y lea hasta el final del cuento.</li>
                        <li>Deje unos instantes para reposar y disfrutar el cuento y luego puede iniciar un debate acerca de lo que más les llamó la atención de este cuento, ¿qué les pareció la actitud del jabotí? ¿Qué actitudes del jabotí podrían imitar? ¿Por qué creen que el mico perdió?, etc. Lo importante es realizar preguntas que susciten el diálogo, intercambio de opiniones y argumentación.</li>
                        <li>Entrégueles el cuento fotocopiado y la ficha que está al final de este artículo para que la trabajen.</li>
                      </ul>          
                  </div><!-- card-body -->
                  <div class="mediaa">
                      <div class="media-cont">
                          <audio controls="">
                              <source src="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" type="audio/mpeg">
                              <source src="horse.ogg" type="audio/ogg">
                              
                          Your browser does not support the audio element.
                          </audio>
                          <p>titulo audio</p>
                      </div>     
                  </div>   
  
                <div class="card-footer">
                  
                </div><!-- card-footer -->
            </div><!-- card -->


            <div class="card card-experience mg-t-20 info-id" id="info-3">  
              <div class="card-body">
                  <div class="slim-card-title">5° y 6° básico</div>
                  <br>
                  <h3 style="color:#2b2b2b">Actividades</h3>
                  <p>Resulta muy importante, incluso en estos cursos, continuar con la lectura en voz alta, porque permite un trabajo con los estudiantes en proximidad, brinda la oportunidad para fortalecer y desarrollar el diálogo, la escucha comprensiva, el respeto por las opiniones de los otros, y del turno para hablar y, por supuesto, a través de los cuentos seguir desarrollando la imaginación, la fantasía, la creatividad y las emociones.
                  </p>
                  <ul>
                    <li>Baje el cuento El príncipe feliz, de Óscar Wilde de la siguiente dirección:  www.profesorenlinea.cl/Biblioteca/Wilde_Oscar/Cuentos_Seleccion/wilde01.html</li>
                    <li>Pídale a los alumnos que se sienten en proximidad, sin nada en las manos y coménteles que les va a leer un cuento de Óscar Wilde. Lo más probable que ya hayan leído otros cuentos de este mismo autor, active los conocimientos previos que tengan e intenten recordar de qué se trataban.</li>
                    <li>Dígales que hoy leerán un cuento que se llama “El príncipe feliz”, y pregúnteles por qué creen que se llama así. ¿Cómo será la vida del príncipe que se siente tan feliz? Establezca conexiones con los príncipes que existen en la actualidad, preguntándoles cómo creen que se sienten estos príncipes. ¿Serán felices? ¿Por qué creen eso?, etc.</li>
                    <li>Inicie la lectura del cuento y deténgase en la palabra “soñar”, clarifique el significado de las palabras “veleta, escarlata”. Pregúnteles por qué creen ellos que habrán colocado una estatua con esas características en la parte más alta de la ciudad.</li>
                    <li>Continúe leyendo hasta “Y se dispuso a dormir”. Pregunte, ¿qué creen que va a ocurrir ahora? ¿Por qué?</li>
                    <li>Continúe la lectura hasta “no me queda más recurso que llorar”. Verifique las predicciones iniciales “¿por qué el príncipe era feliz?” ¿Por qué le hicieron una estatua tan hermosa cuando falleció? </li>
                    <li>Prosiga la lectura hasta “Por todas partes adonde iba piaban los gorriones, diciéndose unos a otros”. Pregunte, ¿podrá la golondrina proseguir su viaje a Egipto? ¿Por qué creen eso? ¿Qué ocurrirá si la golondrina retrasa su viaje? </li>
                    <li>Lea hasta “Entonces la Golondrina reanudó su vuelo y fue a contar al Príncipe lo que había visto”. Pregúnteles cómo creen que el príncipe podrá ayudar a tanta gente pobre. ¿Qué harían ellos en el lugar de él?</li>
                    <li>Lea hasta “Tráeme las dos cosas más preciosas de la ciudad —dijo Dios a uno de sus ángeles”. Pregunte a sus estudiantes: ¿qué creen que el ángel le llevó a Dios? ¿Por qué?</li>
                    <li>Lea hasta el final del cuento y deje decantar unos instantes. Espere a que los alumnos comenten libremente y evite hacer preguntas tales como: ¿Les gustó el cuento? Quizás podría preguntarles por qué creen que Oscar Wilde escribió este cuento. ¿Qué mensaje querría trasmitirnos?</li>
                    <li>Después de comentar libremente, invite a sus alumnos a regresar a sus puestos y entrégueles una copia impresa del cuento y en días posteriores, entrégueles la ficha que está al final de este artículo. Revísenla juntos.</li>
                  </ul>
                </div><!-- card-body -->
                <div class="mediaa">
                    <div class="media-cont">
                        <audio controls="">
                            <source src="http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3" type="audio/mpeg">
                            <source src="horse.ogg" type="audio/ogg">
                            
                        Your browser does not support the audio element.
                        </audio>
                        <p>titulo audio</p>
                    </div>     
                </div>   
              <div class="card-footer"></div><!-- card-footer -->
            </div><!-- card -->


            <div class="card card-experience mg-t-20 act-id" id="act-1">
              <div class="card-body">
                <div class="slim-card-title">Lenguaje / 1° y 2° básico
                </div><br>
                <div class="row col-lg-12">
                  <div class="col-lg-10"> 
                    <h3 style="color:#2b2b2b">Cuento: La serpiente blanca</h3>
                    <h4>Hermanos Grimm</h4>
                  </div>
                  <div class="col-lg-2">
                    <img style="width:150px;margin-top:-3rem;" src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                  </div>
                </div>
                <div class="row col-lg-12"><h5 style="color:#2b2b2b">Responde las siguientes preguntas:</h5></div>
                
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">¿De dónde crees que el rey obtenía su sabiduría? </h6>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">¿Por qué crees que el rey  era sabio?  ¿Cómo lo podríamos saber?</h6>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">Si tú hubieses sido el criado, ¿qué le habrías pedido al rey y por qué? </h6>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">¿Qué personaje del cuento te gustó más y por qué? </h6>
                    <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                  </div><!-- media-body -->
                </div><!-- media -->

                <div class="media">
                  <div class="media-body">
                      <h6 class="position-name">Ordena la secuencia de las láminas del cuento.</h6>
                      <p class="position-company">Colócales los números del 1 al 6 para saber cómo fueron ocurriendo los hechos.</p>
                      <style>
                        #posimg > div{
                          width: 20%;
                          margin: 1% 5%;
                          text-align: center;
                          cursor:pointer;
                        }
                        #posimg > div img {
                          width: 100%;
                          cursor:pointer;
                        }
                      </style>
                      <div id="posimg" style="display:flex;justify-content: space-between;align-items:center;flex-wrap:wrap;">
                        <div>
                          <label>
                            <img src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                            <input type="number" max="6" min="0">
                          </label>
                        </div>
                        <div>
                          <label>
                            <img src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                            <input type="number" max="6" min="0">
                          </label>
                        </div>
                        <div>
                          <label>
                            <img src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                            <input type="number" max="6" min="0">
                          </label>
                        </div>
                        <div>
                          <label>
                            <img src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                            <input type="number" max="6" min="0">
                          </label>
                        </div>
                        <div>
                          <label>
                            <img src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                            <input type="number" max="6" min="0">
                          </label>
                        </div>
                        <div>
                          <label>
                            <img src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                            <input type="number" max="6" min="0">
                          </label>
                        </div>

                      </div>
                  </div>
                </div>                
              </div><!-- card-body -->
              <div class="card-footer">
                
              </div><!-- card-footer -->
            </div><!-- card -->
            <div class="card card-experience mg-t-20 act-id" id="act-2">
              <div class="card-body">
                <div class="slim-card-title">Lenguaje / 3° y 4° básico
                </div><br>
                <div class="row col-lg-12">
                  <div class="col-lg-10"> 
                    <h3 style="color:#2b2b2b">Cuento: Historia del jabotí sabio y del mico entrometido</h3>
                    <h4>Ana María Machado</h4>
                  </div>
                  <div class="col-lg-2">
                    <img style="width:150px;margin-top:-3rem;" src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                  </div>
                </div>
                <div class="row col-lg-12"><h5 style="color:#2b2b2b">Responde las siguientes preguntas:</h5></div>
                <style>
                  .mediaa.act .media-cont{
                    padding: 1rem;
                    border: 1px solid #bababa;
                    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
                  }
                  .mediaa.act .media-cont img{
                    width: 100%;
                  }
                  .mediaa.act .media-cont input{
                    width: 100%;
                    padding: 2px;
                    margin-bottom: .5rem;
                  }
                  .mediaa.act .media-cont textarea{
                    padding: 2px;
                    width: 100%;
                    max-height: 110px;
                    min-height: 50px;
                  }
                </style>
                <div class="media">
                    <div class="media-body">
                      <h6 class="position-name">Pregunta </h6>
                      <p class="position-company">Más detalles sobre la pregunta</p>
                      <div class="mediaa act">
                          <div class="media-cont">
                            <img src="https://ep01.epimg.net/elpais/imagenes/2018/02/21/ciencia/1519217221_792533_1519218286_noticia_normal.jpg" alt="">
                            <input type="text" placeholder="Nombre" class="form-control">
                            <textarea placeholder="Características" class="form-control"></textarea>
                          </div>
                          <div class="media-cont">
                            <img src="https://ep01.epimg.net/elpais/imagenes/2018/02/21/ciencia/1519217221_792533_1519218286_noticia_normal.jpg" alt="">
                            <input type="text" placeholder="Nombre" class="form-control">
                            <textarea placeholder="Características" class="form-control"></textarea>
                          </div>
                          <div class="media-cont">
                            <img src="https://ep01.epimg.net/elpais/imagenes/2018/02/21/ciencia/1519217221_792533_1519218286_noticia_normal.jpg" alt="">
                            <input type="text" placeholder="Nombre" class="form-control">
                            <textarea placeholder="Características" class="form-control"></textarea>
                          </div>
                      </div> 
                    </div>
                  </div>

                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">Busca en el cuento tres oraciones que demuestren las características del jabotí y escríbelas aquí.</h6>
                    <textarea class="form-control"></textarea>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">¿Con cuál de los personajes del cuento te identificas más y por qué? </h6>
                    <textarea class="form-control"></textarea>
                  </div><!-- media-body -->
                </div><!-- media -->
                <div class="media">
                  <div class="media-body">
                    <h6 class="position-name">¿Qué podemos aprender de este cuento?</h6>
                    <textarea class="form-control"></textarea>
                  </div><!-- media-body -->
                </div><!-- media -->

 
              </div><!-- card-body -->
              <div class="card-footer">
                
              </div><!-- card-footer -->
            </div><!-- card -->
            <div class="card card-experience mg-t-20 act-id" id="act-3">
                <div class="card-body">
                  <div class="slim-card-title">Lenguaje / 5° y 6° básico
                  </div><br>
                  <div class="row col-lg-12">
                    <div class="col-lg-10"> 
                      <h3 style="color:#2b2b2b">Cuento: El príncipe feliz </h3>
                      <h4>Óscar Wilde</h4>
                    </div>
                    <div class="col-lg-2">
                      <img style="width:150px;margin-top:-3rem;" src="https://st2.depositphotos.com/1742172/10146/v/950/depositphotos_101466476-stock-illustration-black-and-white-cartoon-snake.jpg" alt="">
                    </div>
                  </div>
                  <div class="row col-lg-12"><h5 style="color:#2b2b2b">Responde las siguientes preguntas:</h5></div>
                  
                  <div class="media">
                    <div class="media-body">
                      <h6 class="position-name">Escribe las tres palabras que mejor describirían al alcalde y sus concejales.</h6>
                      <input type="text" class="form-control" placeholder="Ingrese su respuesta">
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media">
                    <div class="media-body">
                      <h6 class="position-name"> ¿Cómo era la golondrina al principio del cuento? Señala tres características. </h6>
                      <p class="position-company">Busca en el texto tres frases o expresiones que demuestren cómo era la golondrina</p>
                      <div style="display:flex;justify-content: center;">
                          <input type="text" class="form-control" placeholder="Ingrese la frase 1">
                          <input type="text" class="form-control" placeholder="Ingrese la frase 2">
                          <input type="text" class="form-control" placeholder="Ingrese la frase 3">
                      </div>
                      
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media">
                    <div class="media-body">
                      <h6 class="position-name"> ¿Por qué crees que la golondrina sufrió un cambio a lo largo del cuento?</h6>
                      <textarea class="form-control"></textarea>
                    </div><!-- media-body -->
                  </div><!-- media -->
                  <div class="media">
                    <div class="media-body">
                      <h6 class="position-name">¿A qué atribuyes que el corazón del príncipe se partiera en dos? </h6>
                      <p class="position-company">En el cuento aparece la siguiente oración <u>“El hecho es que el corazón de plomo se había partido en dos. Realmente hacía un frío terrible.”</u></p>
                      <textarea class="form-control"></textarea>
                    </div><!-- media-body -->
                  </div><!-- media -->
  
                  <div class="media">
                    <div class="media-body">
                        <h6 class="position-name"> ¿Por qué crees que Dios dijo: “—Has elegido bien —“?</h6>
                        <textarea class="form-control"></textarea>
                        
                    </div>
                  </div>                
                </div><!-- card-body -->
                <div class="card-footer">
                  
                </div><!-- card-footer -->
            </div><!-- card -->
            <br><br>
            <button class="btn btn-primary btn-block mg-b-10" >Terminar actividad</button>
          </div><!-- col-8 -->

          
        </div><!-- row -->

      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>

    <script src="../js/slim.js"></script>
    <script>
        function getTab(li){
          tabActive(li);
          
          if(li == 0){
            showAll();
          }else{
            hiddenAll();
            document.querySelector("#info-"+li).style="";
            document.querySelector("#act-"+li).style="";
          }
        }
        function tabActive(li){
          var tabs = document.querySelectorAll("#tabsnav li a");
          for(var i = 0; i < tabs.length; i++){
            tabs[i].className="nav-link";
          }
          tabs[li].className="nav-link active";
        }
        function hiddenAll(){
          var infos = document.querySelectorAll(".info-id");
          var acts = document.querySelectorAll(".act-id");
          for(var i = 0; i < infos.length; i++){
            infos[i].style="display:none;";
            acts[i].style="display:none;";
          }
        }
        function showAll(){
          var infos = document.querySelectorAll(".info-id");
          var acts = document.querySelectorAll(".act-id");
          for(var i = 0; i < infos.length; i++){
            infos[i].style="";
            acts[i].style="";
          }
        }

    </script>
  </body>
</html>
