<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Responsive Bootstrap 4 Admin Template</title>

    <!-- Vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

  </head>
  <body>
    <div class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <h2 class="slim-logo"><a href="index.html">slim<span>.</span></a></h2>

        </div><!-- slim-header-left -->
        <div class="slim-header-right">
          <div class="dropdown dropdown-c">
            <a href="#" class="logged-user" data-toggle="dropdown">
              <img src="http://via.placeholder.com/500x500" alt="">
              <span>Nombre Usuario</span>
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <nav class="nav">
                <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                <a href="page-signin.html" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>
              </nav>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </div><!-- header-right -->
      </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
      <div class="container">
        <ul class="nav">
          <!--Admin-->
          <li class="nav-item">
            <a class="nav-link" href="widgets.html">
              <i class="icon ion-ios-home-outline"></i>
              <span>Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="widgets.html">
              <i class="icon ion-person-stalker"></i>
              <span>Usuarios</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="widgets.html">
              <i class="icon ion-ios-book-outline"></i>
              <span>Actividades</span>
            </a>
          </li>
          <!--Usuarios-->
          <li class="nav-item">
            <a class="nav-link" href="widgets.html">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Mi perfil</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="widgets.html">
              <i class="icon ion-ios-analytics-outline"></i>
              <span>Nueva actividad</span>
            </a>
          </li>
          
          
          
          
        </ul>
      </div><!-- container -->
    </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Timeline</li>
          </ol>
          <h6 class="slim-pagetitle">Timeline</h6>
        </div><!-- slim-pageheader -->

        <div class="row row-sm row-timeline">
          <div class="col-lg-9">

            <div class="card pd-30">
              <div class="timeline-group">
                <div class="timeline-item timeline-day">
                  <div class="timeline-time">&nbsp;</div>
                  <div class="timeline-body">
                    <p class="timeline-date">Today</p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-time">10:30pm</div>
                  <div class="timeline-body">
                    <p class="timeline-title"><a href="">Building a Simple User Interface</a></p>
                    <p class="timeline-author"><a href="">Elisse Joson</a> San Francisco, CA</p>
                    <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                    <p class="tx-12 mg-b-0"><a href="">Like</a> &nbsp;&nbsp; <a href="">Comment</a></p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-time">8:15pm</div>
                  <div class="timeline-body">
                    <p class="timeline-title"><a href="">Blueberry Cheesecake Dessert Recipe</a></p>
                    <p class="timeline-author"><a href="">Katherine Lumaad</a> Oakland, CA</p>
                    <p class="timeline-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>

                    <div class="row mg-b-15">
                      <div class="col-6">
                        <a href=""><img src="http://via.placeholder.com/1000x667" class="img-fluid" alt=""></a>
                      </div><!-- col-6 -->
                    </div><!-- row -->

                    <p class="tx-12 mg-b-0"><a href="">Like</a> &nbsp;&nbsp; <a href="">Comment</a></p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-time">3:30pm</div>
                  <div class="timeline-body">
                    <p class="timeline-title"><a href="">Your Finances Don't Have to Be Perfect to Work</a></p>
                    <p class="timeline-author"><a href="">Elisse Joson</a> San Francisco, CA</p>
                    <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                    <p class="tx-12 mg-b-0"><a href="">Like</a> &nbsp;&nbsp; <a href="">Comment</a></p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item timeline-day">
                  <div class="timeline-time">&nbsp;</div>
                  <div class="timeline-body">
                    <p class="timeline-date">Yesterday</p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-time">6:30pm</div>
                  <div class="timeline-body">
                    <p class="timeline-title"><a href="">An Engineer Explains Why You Should Always Order the Larger Pizza</a></p>
                    <p class="timeline-author"><a href="">Elisse Joson</a> San Francisco, CA</p>
                    <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>

                    <div class="row row-xs mg-b-15">
                      <div class="col-6">
                        <a href=""><img src="http://via.placeholder.com/1000x667" class="img-fluid" alt=""></a>
                      </div><!-- col-6 -->
                      <div class="col-6">
                        <a href=""><img src="http://via.placeholder.com/1000x667" class="img-fluid" alt=""></a>
                      </div><!-- col-6 -->
                    </div><!-- row -->

                    <p class="tx-12 mg-b-0"><a href="">2 Likes</a> &nbsp;&nbsp; <a href="">1 Comment</a></p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-time">1:15pm</div>
                  <div class="timeline-body">
                    <p class="timeline-title"><a href="">The Strange Persistence of First Languages</a></p>
                    <p class="timeline-author"><a href="">Elisse Joson</a> San Francisco, CA</p>
                    <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                    <p class="tx-12 mg-b-0"><a href="">Like</a> &nbsp;&nbsp; <a href="">Comment</a></p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item timeline-day">
                  <div class="timeline-time">&nbsp;</div>
                  <div class="timeline-body">
                    <p class="timeline-date">December 20, 2017</p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
                <div class="timeline-item">
                  <div class="timeline-time">11:45pm</div>
                  <div class="timeline-body">
                    <p class="timeline-title"><a href="">How to Win Your Next Political Argument</a></p>
                    <p class="timeline-author"><a href="">Elisse Joson</a> San Francisco, CA</p>
                    <p class="timeline-text">In this lesson, you create a layout in XML that includes a text field and a button. In the next lesson, your app responds when the </p>
                    <p class="tx-12 mg-b-0"><a href="">Like</a> &nbsp;&nbsp; <a href="">Comment</a></p>
                  </div><!-- timeline-body -->
                </div><!-- timeline-item -->
              </div><!-- timeline-group -->
            </div><!-- card -->

          </div><!-- col-9 -->
          <div class="col-lg-3 mg-t-20 mg-lg-t-0">

            <div class="card pd-20 mg-t-20">
              <div class="card-body pd-b-0">
                <h6 class="slim-card-title tx-purple">Actividades completadas</h6>
                <h2 class="tx-lato tx-inverse">323,360</h2>
                <p class="tx-12"><span class="tx-purple">2.5%</span> change from yesterday</p>
              </div><!-- card-body -->
              <div id="rs1" class="ht-50 ht-sm-70 mg-r--1"></div>
            </div><!-- card -->

          </div><!-- col-3 -->
        </div><!-- row -->



      </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
      <div class="container">
        <p>Copyright 2018 &copy; All Rights Reserved. Slim Dashboard Template</p>
        <p>Designed by: <a href="">ThemePixels</a></p>
      </div><!-- container -->
    </div><!-- slim-footer -->

    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>
    <script src="../lib/d3/js/d3.js"></script>
    <script src="../lib/rickshaw/js/rickshaw.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8"></script>
    <script src="../lib/gmaps/js/gmaps.js"></script>
    <script src="../lib/peity/js/jquery.peity.js"></script>
    <script src="../lib/jquery.cookie/js/jquery.cookie.js"></script>

    <script src="../js/slim.js"></script>
    <script src="../js/widgets.js"></script>

  </body>
</html>
